<div class="bc-card-portfolio">
  <div class="bc-card-porfolio-content--header">
    <h2 class="bc-card-porfolio-content--h2">Conoce tu portafolio</h2>
    <ion-button>Estratega</ion-button>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <img class="bc-card-porfolio-content--img" [src]="'robot' | img:'portfolio'">
          </ion-col>
          <ion-col size="6" class="bc-card-porfolio-content--info">
            <img [src]="'logo' | img: 'portfolio'">
            <div class="bc-card-porfolio-content--button">15%</div>
            <p class="p">FIC Old Mutual Efectivo</p>
            <p>$240.000</p>
            <p>Tipo de activo</p>
            <p>Renta fija Depósito a la fija</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="bc-card-portfolio-content--description">
              Tu dinero se invierte de la forma más eficiente de acuerdo al perfil de riego asignado porn nuestro
              RoboAdvisor
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>