<div class="bc-cards-goals__container">
  <div class="bc-cards-goal__header">
    <h2> Tus metas</h2>
    <img [src]="'add_circle' | img:'goals'">
  </div>
  <div class="bc-cards__container">
    <ion-card *ngFor="let card of cardsGoals">
      <ion-card-header>
        <img [src]="card.imgSrc | img :'goals' ">
        <h3> {{ card.title }} </h3>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <circle-progress class="circle" [options]="card1"
              [percent]="calculatePercent(card.totalGoal,card.contribution)" [renderOnClick]="false">
            </circle-progress>
            <ion-col>
              <p class="number-1"> {{ card.contribution | currency:"$":"symbol":"4.0-2" }} </p>
              <p class="number-2"> {{ card.totalGoal | currency:"$":"symbol":"4.0-2" }} </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</div>